<template>
    <button class="button" type="button">{{texto}}</button>
</template>


<script>
export default {
  name: 'Button',
  props: {
    texto: String
  }
}
</script>
<style scoped>
.button:focus {
  outline: none;
}

.button {
  text-transform: uppercase;
  float: left;
  min-width: 100px;
  max-width: 200px;
  display: block;
  padding: 1em 2em;
  background: none;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  letter-spacing: 2px;
  color: #fff;
  font-weight: bold;
  font-size: 10px;
  border: 4px solid;
  cursor: pointer;
}

.button::after {
  content: "";
  background-color: transparent;
  position: absolute;
  top: -20px;
  left: -20px;
  right: -20px;
  bottom: -20px;
  opacity: 0;
  color: #3f51b5;
  z-index: -1;
}

.button:hover::after {
  opacity: 1;
  background-color: #FC4E2A;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.button,
.button:after {
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.button:disabled {
    background: gray;
}

.button:hover {
  border: 4px solid #cc879e;
}
</style>


