<template>
  <div class="form-group">
    <label for="exampleInputEmail1">Endereço de email</label>
    <input type="text" v-validate="'required|email-dbc'" v-bind:name="nome" v-model="valor" class="form-control input-sm" aria-describedby="emailHelp" placeholder="usuario@email.com">
    <!--small id="emailHelp" class="form-text text-muted">Não vamos compartilhar seu email com ninguém.</small-->
    <div  v-show="errors.has(this.nome)" class="alert alert-danger" role="alert">
      <span>{{errors.first(this.nome)}}</span>
    </div>
  </div>
</template>
<script>
export default {
  name: 'EmailInput',
  props: {
    nome: String
  },
  created() {
  	this.$validator.extend('email-dbc', {
      getMessage: field => 'Seu email deve ter um dominio válido.',
      validate: value => /@dbccompany.com.br/.test(value)
    })
  },
  data: () => {
    return {
      valor: ''
    }
  }
}
</script>

<style>
label {
  font-weight: 640;
  color: #FCFCFC;
}
</style>
