<template>
  <tr>
    <td class="text-left">{{estabelecimento.nome}}</td>
    <td class="text-left">{{estabelecimento.valor}}</td>
  </tr>
</template>

<script>

export default {
  name: 'EstabelecimentoLinha',
  props: {
    estabelecimento: Object
  },
}
</script>

<style>
</style>
