<template>
  <div>
    <label>{{ nome }}:</label>
    <div id="fotoWrap">
      <input type="file" id="inputFile" :name="nome" accept="image/*" v-validate="'required'" @change="processar($event)">
      <button id="btn-foto-fake" class="btn btn-light btn-sm btn-cadlog">Escolher</button>
      <button id="btn-foto-fail" class="btn btn-light btn-sm btn-foto btn-cadlog" disabled v-if="valorInvalido()">nenhum arquivo selecionado</button>
      <button id="btn-foto-succ" class="btn btn-light btn-sm btn-foto btn-cadlog" disabled v-else>arquivo selecionado com sucesso</button>
    </div>
  </div>
</template>

<script>

export default {
  
  name: 'FileInputCad',
  
  props: {
    nome: String
  },
  
  data: () => {
    return {
      valor: ''
    }
  },
  
  methods: {
    
    async processar(evento) {    
      var arquivo = evento.target.files[0]  
      this.valor = await this.converterBase64(arquivo)
    },

    async converterBase64(file) {
      return new Promise(
        ( resolve, reject ) => {
          const reader = new FileReader()
          reader.readAsDataURL(file)
          reader.onload = () => resolve(reader.result)
          reader.onerror = error => reject(error)
        }
      )
    },

    valorInvalido() {
      return ( this.valor == '' )
    }

  }

}

</script>

<style>

#fotoWrap {
  position: relative;
  display: block;
  overflow: hidden;
}

#inputFile {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

#upload-photo {
   opacity: 0;
   position: absolute;
   z-index: -1;
}

#btn-foto-fail {
  background-color: #ffcccc;
  border-color: #ff9999;
  color: #660000;
}

#btn-foto-succ {
  background-color: #d6f5d6;
  border-color: #adebad;
  color: #145214;

}

.btn-foto {
  margin-left: 5px !important;
  opacity: 0.9 !important;
}

label {
  font-weight: 640;
  color: #FCFCFC;
}

.btn-cadlog {
  border: 1px !important;
  padding: 7px !important;
  font-weight: normal !important;
}

</style>
