<template>
  <tr>
    <td class="text-left clickable">{{grupo.nome}}</td>
    <td class="text-left">{{grupo.valor}}</td>
  </tr>
</template>

<script>
import Button from "./Button.vue";

export default {
  name: 'GrupoLinha',
  props: {
    grupo: Object,
    inicio: Object,
    fim: Object,
    pagina: Number
  },
  components: {
    Button
  },
  data: () => {
    return {
      paginaItem: 1,
      estabelecimentos: [],
    }
  }
}
</script>

<style>
.clickable{
  cursor: pointer;
}

</style>


