<template>
  <div>
    <table class="table table-dark">
      <!--thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
        </tr>
      </thead-->
      <tbody>
        
        <div v-for="grupo in grupos" :key="grupo">

          <tr data-toggle="collapse" :data-target="'.estabelecimento' + grupo.nome">
            <td colspan="12">Transacoes</td>
            <td>{{ grupo.nome }}</td>
            <td>{{ grupo.valor }}</td>
          </tr>

          <div v-for="estabelecimento in grupo.estabelecimentos" :key="estabelecimento">
            <tr :class="'collapse estabelecimento' + grupo.nome">
              <td>{{ estabelecimento.nome }}</td>
              <td>{{ estabelecimento.valor }}</td>
            </tr>
          </div>
        
        </div>
      
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  
  name: 'Listagem',

  props: {
    dataIni: String,
    dataFin: String
  },

  data: () => {
    return {
      grupos = []
    }
  },

  methods: {

    abrir() {
      this.aberto = ! this.aberto
    },

    abertoo() {
      return this.aberto
    }

  }

}
</script>

<style>
</style>
