<template>
  <div id="map">
  </div>
</template>

<script>
import States from '../../map/br-states.js'
var geo = null;
var map = null;
var info = L.control();
var legend = L.control({position: 'bottomright'});


export default {
  name: "MapaDeCalor",
  props: {
    ini: Object,
    fim: Object
  },
  data: () => {
    return {
      tileLayer: null,
      layers: [],
      geoJson: null
    }
  },
  mounted() {
  this.initMap();
  this.initLayers();
  },
  methods: {
    async initMap() {
      map = L.map('map').setView([-14, -51], 4);
      this.tileLayer = L.tileLayer(
        'https://{s}.basemaps.cartocdn.com/rastertiles/voyager/{z}/{x}/{y}{r}.png',
      {
      maxZoom: 15,
      }
      );
      this.tileLayer.addTo(map);
      this.atualizar();
      info.addTo(map);
      legend.addTo(map);

    },
    initLayers() {},
    async atualizar(){
      new Promise( resolve => {
        fetch("api/gastos/somaestado?inicio="+this.ini.data+"&fim="+this.fim.data )
        .then( j => j.json() )
        .then( t => {
        const valor = t 
          resolve( valor )
          const states = new States(valor);
          geo = L.geoJson(states.statesData, {style: style,onEachFeature: onEachFeature}).addTo(map);
        } )
      } )
    }
  },
  watch: {
      ini: function () {
        this.atualizar()
      },
      fim: function () {
        this.atualizar()
      }
    }
}

function getColor(d) {
    return d > 20000000.0  ? '#800026' :
           d > 5000000.0  ? '#BD0026' :
           d > 1000000.0  ? '#E31A1C' :
           d > 500000.0  ? '#FC4E2A' :
           d > 300000.0   ? '#FD8D3C' :
           d > 150000.0   ? '#FEB24C' :
           d > 75000.0   ? '#FED976' :
                         '#FFEDA0';
}

function style(feature) {
    return {
        fillColor: getColor(feature.properties.VALOR),
        weight: 2,
        opacity: 1,
        color: 'white',
        dashArray: '3',
        fillOpacity: 0.7
    };
}



function resetHighlight(e) {
    geo.resetStyle(e.target);
    info.update();
}

function zoomToFeature(e) {
    map.fitBounds(e.target.getBounds());
}

function onEachFeature(feature, layer) {
    layer.on({
        mouseover: highlightFeature,
        mouseout: resetHighlight,
        click: zoomToFeature
    });
}

function highlightFeature(e) {
    var layer = e.target;

    layer.setStyle({
        weight: 5,
        color: '#666',
        dashArray: '',
        fillOpacity: 0.7
    });

    if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
        layer.bringToFront();
        info.update(layer.feature.properties);
    }
}

info.onAdd = function (map) {
    this._div = L.DomUtil.create('div', 'info'); 
    this.update();
    return this._div;
};

info.update = function (props) {
    this._div.innerHTML = '<h4>Gastos por estado</h4>' +  (props ?
        '<b>' + props.ESTADO + '</b><br />' + numberToReal(props.VALOR) 
        : 'Passe o mouse sobre um <br>estado para mais detalhes');
};

function numberToReal(numero) {
  numero = numero.toFixed(2).split('.');
  numero[0] = "R$ " + numero[0].split(/(?=(?:...)*$)/).join('.');
  return numero.join(',');
}

legend.onAdd = function (map) {

    var div = L.DomUtil.create('div', 'info legend'),
        grades = [0, 75000, 150000, 300000, 500000, 1000000, 5000000, 20000000],
        labels = [];

    for (var i = 0; i < grades.length; i++) {
        div.innerHTML +=
            '<i style="background:' + getColor(grades[i] + 1) + '"></i> ' +
            grades[i] + (grades[i + 1] ? '&ndash;' + grades[i + 1] + '<br>' : '+');
    }

    return div;
};

</script>

<style>
#map{
   height: 500px; 
   width: 100%;
}

.info {
    padding: 6px 8px;
    font: 13px/14px 'Gill Sans', sans-serif;
    color: #000;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0 0 5px;
    color: #777;
    font-size: 1.3em;
}

.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

@keyframes spinner-line-fade-more {
  0%, 100% {
    opacity: 0; /* minimum opacity */
  }
  1% {
    opacity: 1;
  }
}

@keyframes spinner-line-fade-quick {
  0%, 39%, 100% {
    opacity: 0.25; /* minimum opacity */
  }
  40% {
    opacity: 1;
  }
}

@keyframes spinner-line-fade-default {
  0%, 100% {
    opacity: 0.22; /* minimum opacity */
  }
  1% {
    opacity: 1;
  }
}
</style>
