<template>
  <div>
    <canvas id="myChart"></canvas>
  </div>    
</template>
<script>
import Api from "../../api/Api.js";
export default {
  name: "MapaDeBolha",
  props: {
    ini: Object,
    fim: Object
  },

  methods: {
    async getDadosIni() {
      const api2 = new Api("http://localhost:8080/");
      var gastosOrgaos = await api2.getGraficoBolhas(
        this.ini.data,
        this.fim.data
      );
      this.mapaBolha(gastosOrgaos);
    },

    async atualizar() {
      const api2 = new Api("http://localhost:8080/");
      var gastosOrgaos = await api2.getGraficoBolhas(
        this.ini.data,
        this.fim.data
      );
      window.myChart.destroy();
      this.mapaBolha(gastosOrgaos);
    },

    mapaBolha(orgaos) {
      var nomes = [];
      var valores = [];

      for (var i in orgaos) {
        nomes.push(orgaos[i].nome);
        valores.push(orgaos[i].valor);
      }

      window.myChart = new Chart(
        document.getElementById("myChart").getContext("2d"),
        {
          type: "bar",
          data: {
            labels: nomes,
            datasets: [
              {
                borderWidth : 3,
                backgroundColor: [
                  "#67000d",
                  "#a50f15",
                  "#cb181d",
                  "#ef3b2c",
                  "#fb6a4a",
                  "#fc9272",
                  "#fcbba1",
                  "#fee0d2",
                  "#fff5f0",
                  "#ffffff"
                ],
                data: valores
              }
            ]
          },
          options: {
            tooltips: {
              enabled : true,
              callbacks: {
                label: function(tooltipItem, data) {
                  var label =
                    data.datasets[tooltipItem.datasetIndex].label || "";

                  if (label) {
                    label += "R$ : ";
                  }
                  label += Math.round(tooltipItem.yLabel * 100) / 100;
                  return label;
                }
              }
            },
            maintainAspectRatio: false,
            legend: {
              display: false
            },
            title: {
              display: true,
              text: "Gastos por Orgãos"
            },
            responsive: true,
            scales: {
              xAxes: [
                {
                  ticks: {
                    fontSize: 6
                  }
                }
              ]
            }
          }
        }
      );
    }
  },
  mounted() {
    this.getDadosIni();
  },
  watch: {
    ini: function() {
      this.atualizar();
    },
    fim: function() {
      this.atualizar();
    }
  }
};
</script>
<style>
#myChart {
  height: 500px;
  width: 100%;
}
</style>



