<template>
  <div class="form-group">
    <label for="inputSenha">{{ nome }}:</label>
    <input type="password" id="inputSenha" class="form-control" placeholder="sEnha#F0rt3!" v-model="valor" :name="nome" v-validate="'required|min:5'">
    <input type="password" id="senhaConf" class="form-control" placeholder="sEnha#F0rt3!" v-model="valorConf" name="conf" >
    <div class="erroCadastro" v-show="errors.has(this.nome)">
      <small>{{errors.first(this.nome)}}</small>
    </div>
  </div>
</template>

<script>
export default {
  name: "PasswordInputCad",
  props:{
    nome: String,
  },

  data: () => {
    return {
      valor: '',
      valorConf: ''
    }
  }
}
</script>

<style>
input {
  margin: 4px;
}
</style>
