<template>
  <div class="form-group">
    <label v-bind:for="nome">Senha:</label>
    <input type="password" v-validate="'required|min:5'" v-bind:name="nome" v-model="valor" class="form-control" v-bind:id= "nome" placeholder="senha">
    <div v-show="errors.has(this.nome)" class="alert alert-danger" role="alert">
      <span>{{errors.first(this.nome)}}</span>
    </div>
  </div>
</template>

<script>
export default {
  name: "PasswordInput",
  props:{
    nome: String
  },

  data: () => {
    return {
      valor: ''
    }
  }
}
</script>

<style>
label {
  font-weight: 640;
  color: #FCFCFC;
}
</style>
