<template>
  <div>
    <div class="d-flex justify-content-center bd-highlight mb-3">
      <div class="p-2 bd-highlight">
        <Button class="btn btn-primary btn-sm" v-on:click.native="voltar" :disabled="!flagGrupoClicado" v-bind:texto="'Voltar'"/>
      </div>
      <div class="p-2 bd-highlight">
        <Button class="btn btn-primary btn-sm" v-on:click.native="voltarPagina" :disabled="desativarBotaoVoltarPagina" v-bind:texto="'Página anterior'"/>
      </div>
      <div class="p-2 bd-highlight">
        <Button class="btn btn-primary btn-sm" v-on:click.native="avancarPagina" :disabled="desativarBotaoAvancarPagina" v-bind:texto="'Próxima página'"/>
      </div>
    </div>
    <transition name="fade" mode="out-in">
      <table key=1 v-if="flagGrupoClicado==false" class="rwd-table">
        <tr>
          <th class="text-left">Grupo</th>
          <th class="text-left">Valor gasto no periodo</th>
        </tr>
       <GrupoLinha v-on:click.native="buscarEstabelecimentos(grupo.nome)" :pagina="pagina" v-bind:inicio="inicio" v-bind:fim="fim" v-for="grupo in grupos" ref="grupoLinhaRef" :key="grupo.id" :value="grupo" :grupo="grupo"/>
      </table>
      <table key=2 v-else class="rwd-table">
        <tr>
          <th class="text-left">Estabelecimento</th>
          <th class="text-left">Valor gasto no periodo</th>
        </tr>
        <EstabelecimentoLinha :pagina="pagina" v-bind:inicio="inicio" v-bind:fim="fim" v-for="estabelecimento in estabelecimentos.slice((paginaEstabelecimento-1)*20, paginaEstabelecimento*20)" :key="estabelecimento.nome" :value="estabelecimento.nome" :estabelecimento="estabelecimento"/>
      </table>
    </transition>
  </div>
</template>

<script>
import GrupoLinha from "./GrupoLinha.vue";
import Api from "../../api/Api.js";
import EstabelecimentoLinha from "./EstabelecimentoLinha.vue";
import Button from "../shared/Button.vue";

export default {
  name: "TabelaGrupo",
  props: {
    inicio: Object,
    fim: Object,
    flag: Boolean
  },
  components: {
    GrupoLinha, EstabelecimentoLinha, Button
  },
  data: () => {
    return {
      api: new Api("http://localhost:8080/"),
      grupos: [],
      estabelecimentos: [],
      flagGrupoClicado: false,
      paginaEstabelecimento: 1,
      pagina: 1,
      paginas: 0
    }
  },
  created: async function() {
    this.atualizarCampos();
  },
  methods: {
    async buscarEstabelecimentos(nome){
       new Promise( async resolve => {
        const a = await this.api.getEstabelecimentos(this.inicio.data, this.fim.data, nome)
        .then( estabs => {
          this.estabelecimentos = estabs
          this.flagGrupoClicado = true
          this.paginaEstabelecimento = 1
        })
      })
    },
    avancarPagina(){
      this.pagina++
      this.paginaEstabelecimento++ 
    },
    voltarPagina(){
      this.pagina--
      this.paginaEstabelecimento--
    },
    voltar(){
      this.flagGrupoClicado = false,
      this.pagina = 1
      this.paginaEstabelecimento = 1
      this.estabelecimentos = []
    },
    async atualizarCampos() {
      this.grupos = await this.api.getGrupos(
        this.pagina-1,
        20,
        this.inicio.data,
        this.fim.data
      );
      this.pagina = 1;
      this.paginas = await this.api.getGruposPageSize(this.inicio.data, this.fim.data);
    }
  },
  watch:{
    pagina: async function() {
      this.grupos = await this.api.getGrupos(
        this.pagina-1,
        20,
        this.inicio.data,
        this.fim.data
      );
    },
    ini: function() {
      this.atualizarCampos();
      this.flagGrupoClicado = false;
    },
    fim: function() {
      this.atualizarCampos();
      this.flagGrupoClicado = false;
    }
    
  },
  computed: {
    desativarBotaoVoltarPagina: function (){
      if(this.flagGrupoClicado)
        return this.paginaEstabelecimento === 1
      else
        return this.pagina === 1 
    },
    desativarBotaoAvancarPagina: function (){
      if(this.flagGrupoClicado)
        return 20*this.paginaEstabelecimento>this.estabelecimentos.length
      else
        return this.pagina===this.paginas
    }
}
};
</script>

<style>
.fade-enter-active,
.fade-leave-active {
    transition: opacity .5s
 }

.fade-enter,
.fade-leave-active {
    opacity: 0
}

@import "https://fonts.googleapis.com/css?family=Montserrat:300,400,700";
.rwd-table {
  margin: 1em 0;
  min-width: 300px;
  width: 75em;
}
.rwd-table tr {
  border-top: 1px solid #310A5B;
  border-bottom: 1px solid #310A5B;
}
.rwd-table th {
  display: none;
}
.rwd-table td {
  display: block;
}
.rwd-table td:first-child {
  padding-top: .5em;
}
.rwd-table td:last-child {
  padding-bottom: .5em;
}
.rwd-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 6.5em;
  display: inline-block;
}
@media (min-width: 480px) {
  .rwd-table td:before {
    display: none;
  }
}
.rwd-table th, .rwd-table td {
  text-align: left;
}
@media (min-width: 480px) {
  .rwd-table th, .rwd-table td {
    display: table-cell;
    padding: .25em .5em;
  }
  .rwd-table th:first-child, .rwd-table td:first-child {
    padding-left: 0;
  }
  .rwd-table th:last-child, .rwd-table td:last-child {
    padding-right: 0;
  }
}

body {
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #400D74;
  background: #eee;
}

h1 {
  font-weight: normal;
  letter-spacing: -1px;
}

.rwd-table {
  background: #400D74;
  color: #fff;
  border-radius: .4em;
  overflow: hidden;
}
.rwd-table tr {
  border-color: #310A5B;
}
.rwd-table th, .rwd-table td {
  margin: .5em 1em;
}
@media (min-width: 480px) {
  .rwd-table th, .rwd-table td {
    padding: 1em !important;
  }
}
.rwd-table th, .rwd-table td:before {
  color: white;
}

tr:hover{
  background: #310A5B;
}
</style>
