<template>
  <div id="app">
      <router-view/>
  </div>
</template>

<script>
import Login from './components/screens/Login.vue'

export default {
  name: 'app',
  components: {
    Login
  }
}
</script>

<style>
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  background-attachment: fixed;
    background-size: cover;
}
.componenteFormulario {
  width: 30vw;
  margin: 0 auto;
}
</style>

