<template>
  <transition name="fade">
    <div class="d-flex cadastro justify-content-center align-items-center">
        <div class="card">
          <h3 id="titulo">Registre-se!</h3>
          <div class="card-body">
            <form @submit.prevent="submeter">
            
            <div class="form-group">
              <label for="nomeCompleto">Nome Completo:</label>
              <!-- v-validate.disable="'required'" -->
              <input type="text" name="nomeCompleto" id="nomeCompleto" class="form-control inputCadastro mx-auto" placeholder="digite seu nome completo" v-model="nomeCompleto" v-validate="'required|alpha_spaces|min:3|max:70|duasPalavras'">
              <div class="erroCadastro" v-show="errors.has('nomeCompleto')">
              <small>{{ errors.first( 'nomeCompleto' ) }}</small>
            </div>
            </div>

            <div class="form-group">
              <label for="email">Email:</label>
              <input type="text" name="email" id="email" class="form-control inputCadastro mx-auto" placeholder="usuario@dbccompany.com.br" aria-describedby="emailHelp" v-model="email" v-validate="'required|max:100|email-dbc'">
              <div class="erroCadastro" v-show="errors.has('email')">
                <small>{{errors.first('email')}}</small>
              </div>
            </div>

            <div class="form-group">
              <!-- class="frmLabel" -->
              <label for="password">Password:</label>
              <input type="password" name="password" id="password" class="form-control inputCadastro mx-auto" placeholder="digite sua senha" ref="senhaRef" v-model="senha" @input="password_check" v-validate="'required'">
              <div id="forcaSenha" class="mx-auto">
                <span>Força da senha: {{forca}}</span>
              </div>
              <div class="erroCadastro" v-show="errors.has('password')">
                <small>{{ errors.first('password') }}</small>
              </div>
              <input type="password" name="passwordConfirm" id="passwordConfirm" class="form-control inputCadastro mx-auto" placeholder="confirme sua senha" v-model="senhaConfirm" v-validate="'required|min:8|max:100|confirmed:senhaRef'">
              <div class="erroCadastro" v-show="errors.has('passwordConfirm')">
                <small>{{ errors.first('passwordConfirm') }}</small>
              </div>
            </div>

            <div class="form-group">
              <FileInputCad nome="Foto" ref="fotoRef"/>
            </div>

            <div class="mt-4">
              <div id="fracasso-div" v-if="fracasso">
                <small>Verifique se você inseriu TODOS os dados e de maneira correta</small>
              </div>
              <div v-if="carregando">
                <span>Carregando...</span>
              </div>
              <hr>
              <button class="btn btn-light btn-cadlog">Submeter</button>
              <div>
                <button @click="trocar" class="btn btn-link btl-link-light btn-cadlog">Já sou cadastrado</button>
              </div>
            </div>
            </form>
        </div>
      </div>
  </div>
  </transition>
</template>

<script>

import FileInputCad from '../shared/FileInputCad.vue'
import ButtonCad from '../shared/ButtonCad.vue'

export default {

  name: 'Cadastro',
  
  components: {
    FileInputCad, ButtonCad
  },
  
  data: () => {
    return {
      arquivoFoto: '',
      senha: '',
      nomeCompleto: '',
      email: '',
      has_number:    false,
      has_lowercase: false,
      has_uppercase: false,
      has_special:   false,
      forca: 'Muito fraca',
      senhaConfirm: '',
      fracasso: false,
      carregando: false
    }
  },
  created() {
  	this.$validator.extend('email-dbc', {
      getMessage: field => 'Seu email deve ter um dominio válido.',
      validate: value => /@dbccompany.com.br/.test(value)
    } )
    this.$validator.extend('duasPalavras', { 
      getMessage: field => 'Seu nome completo deve conter seu primeiro nome e seu sobrenome.',
      validate: value => value.trim().indexOf(' ') != -1
    } )
  },
  
  methods: {

    trocar() {
      this.$router.push( { name: 'login', params: { } } )
    },
    
    submeter() {
      
      let self = this

      this.fracasso = false
      this.carregando = true

      if(! this.cadastroEhValido() ){
        setTimeout( function(){
          self.carregando = false
          self.fracasso = true
          console.log("CADASTRO INVALIDO!!")
        }, 2000 )
        return
      }

      const nc = this.nomeCompleto
      var cadastro = {}
      cadastro.firstName = nc.substr(0, nc.indexOf(' '))
      cadastro.lastName = nc.substr(nc.indexOf(' ') + 1)
      cadastro.fotoUrl = this.$refs.fotoRef.valor
      cadastro.email = this.email
      cadastro.username = cadastro.email.substr(0, cadastro.email.indexOf('@'))
      cadastro.password = this.senha

      console.log(cadastro)
      this.enviar(cadastro)
      
      setTimeout( function(){
        self.carregando = false
        self.trocar()
      }, 2000 )

    },

    enviar(objeto) {
      
      var xhr = new XMLHttpRequest()
      xhr.open("POST", "http://localhost:8080/api/user/create")
      
      xhr.setRequestHeader('Content-type', 'application/json');

      xhr.onload = function() {
        console.log(xhr.responseText)
      }

      xhr.send(JSON.stringify(objeto))
    
    },
    password_check: function () {
      this.has_number    = /\d/.test(this.senha);
      this.has_lowercase = /[a-z]/.test(this.senha);
      this.has_uppercase = /[A-Z]/.test(this.senha);
      this.has_special   = /[!@#\$?%\^\&*\)\(+=._-]/.test(this.senha);
      this.forca = 0
      if(this.has_number === true )
        this.forca++
      if(this.has_lowercase === true )
        this.forca++
      if(this.has_uppercase === true )
        this.forca++
      if(this.has_special === true )
        this.forca++
      if(this.senha.length > 7)
        this.forca++    
      this.forca = this.getForca(this.forca)
    },

    getForca(forca) {
      return forca >= 5  ? 'Extremamente forte' :
          forca >= 4  ? 'Muito forte' :
          forca >= 3  ? 'Forte' :
          forca >= 2   ? 'Media' :
          forca >= 1   ? 'Fraca' : 
                        'Muito fraca'
      },

    cadastroEhValido(){
      return !(
        this.errors.any() ||
        this.$refs.fotoRef.valor === '' ||
        this.nomeCompleto === '' ||
        this.email  === '' ||
        this.senha  === ''
      )
    }

  }

}

</script>

<style scoped>


#viewCadastro {
  position: fixed; 
  top: 0; 
  left: 0; 
  min-width: 100%;
  min-height: 100%;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#titulo {
  margin-top: 10px;
  color: white;
}

.cadastro{
  height: 100vh;
}

.inputCadastro{
  width: 85%;
}

.card {
  background-color: rgba(34, 14, 58, 0.7) !important;
  width: 25em;
  color: white;
}

.btn-link,
.btn-link:active {
  color: #FCFCFC !important;
}

.btn-link:hover,
.btn-link:visited {
  color: #CED4DA !important;
}

.btn-cadlog {
  border: 1px !important;
  padding: 7px !important;
  font-weight: normal !important;
}

.alert, .alert-danger {
  font-size: 0.9ch !important;
  margin-left: 5% !important;
  margin-right: 5% !important;
}

label {
  font-weight: 640;
  color: #FCFCFC;
}

body{background-color: #EFEFEF;}

.container{
  width:400px; 
  background: white;  
  font-family: Arial, Helvetica, sans-serif, sans-serif; 
  border-radius: 3px;
  height: 100%;
  align-content: center;
}

h1{ 
  font-size: 24px; 
  text-align: center; 
  text-transform: uppercase;
}


.frmLabel{
  display: block; 
  margin-bottom: 10px; 
  font-weight: bold;
}

.frmValidation{
  font-size: 13px; 
}

.frmValidation--passed{
  color:#717b85;
}

.frmIcon{
  color:#EB0029;
}

.frmValidation--passed .frmIcon{
  color:#0fa140;
}

#fracasso-div {
  margin: 5px;
  opacity: 0.9;
  background-color: #ffcccc;
  border-color: #ff9999;
  color: #660000;
  margin-bottom: 15px !important;
  border-radius: 5px;
  /*padding: 3px;*/
}

#forcaSenha {
  margin: 5px;
  opacity: 0.9;
  background-color: #E6E6E6;
  border-color: #CCCCCC;
  color: #333333;
  margin-bottom: 15px !important;
  border-radius: 5px;
  width: 85%;
}

</style>





