<template>
  <transition name="fade">
  <div>
    <div class="header">
      <div class="sides">
        <img :src="user.fotoUrl" class="userImg"/>
      </div>
      <div class="sides">
        <img @click="logout" class="logout" src="https://openclipart.org/image/300px/svg_to_png/127261/clarity-shutdown-icon.png" alt="logout" />
      </div>
      <div class="infoHeader">
        <h1 class="welcome">Bem-vindo(a), {{user.firstName}}!</h1>
        <p>Selecione o periodo desejado e tenha informações detalhadas sobre os gastos públicos realizados pelo Brasil inteiro.</p>
      </div>
    </div>
    <div class="container-fluid">
      <form v-if="carregando==false" class="d-flex search justify-content-center bd-highlight mb-3">
        <div class="p-2 bd-highlight">
          <div class="select"> 
            <select v-model="ini"> 
              <option v-for="opcao in opcoes.slice(0, fim.data.substring(0,2))" v-bind:key="opcao.id" v-bind:value="opcao"> 
                {{ opcao.data }} 
              </option> 
            </select> 
          </div>
        </div>
        <div class="p-2 bd-highlight"> 
          <div class="select"> 
            <select v-model="fim"> 
              <option v-for="opcao in opcoes.slice(ini.data.substring(0,2)-1, 12)" v-bind:key="opcao.id" v-bind:value="opcao"> 
                {{ opcao.data }} 
              </option> 
            </select> 
          </div> 
        </div>
      </form>
      <form v-else class="d-flex search justify-content-center bd-highlight mb-3">
        <Spinner/>
      </form>
    </div>
    <section class="statistics">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4">
            <div class="box">
              <h3>
                <transition name="slide-fade" mode="out-in">
                  <b :key="soma">{{soma}}</b>
                </transition>
              </h3> 
              <span>Valor total</span>
              <p>Gastos públicos no periodo</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="box">
              <h3>
                <transition name="slide-fade" mode="out-in">
                  <b :key="media">{{media}}</b>
                </transition>
              </h3> 
              <span>Valor médio</span>
              <p>Média das transações no periodo</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="box">
              <h3>
                <transition name="slide-fade" mode="out-in">  
                  <b :key="maiorGasto.valor">{{maiorGasto.valor}}</b> 
                </transition>
              </h3>
              <span>Maior valor</span>
              <p>Transação com valor mais alto feita no periodo</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="graficos">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
            <div class="graficos-container">
              <MapaDeCalor v-bind:ini="ini" v-bind:fim="fim"/>
            </div>
          </div>
            <div class="col-md-6">
              <div class="graficos-container">
                <MapaDeBolha v-bind:ini="ini" v-bind:fim="fim"/>
              </div>
            </div>
        </div>
      </div>
    </section>
    <section class="graficos justify-content-center">
      <div class="container-fluid d-flex justify-content-center">
        <TabelaGrupo ref="grupos" :pagina="pagina" :inicio="ini" :fim="fim" :grupos="grupos"/>
      </div>
    </section>
  </div>
  </transition>
</template>
<script>
import Api from "../../api/Api.js";
import MapaDeCalor from "../shared/MapaDeCalor.vue";
import MapaDeBolha from "../shared/MapaDeBolha.vue";
import TabelaGrupo from "../shared/TabelaGrupo.vue";
import Spinner from "../shared/Spinner.vue";

export default {
  name: "Dashboard",
  components: {
    MapaDeCalor,
    MapaDeBolha,
    TabelaGrupo,
    Spinner
  },
  data: () => {
    return {
      ini: null,
      fim: null,
      api: new Api("http://localhost:8080/"),
      soma: null,
      media: null,
      maiorGasto: null,
      pagina: 1,
      user: '',
      carregando: false,
      grupos: [],
      opcoes: [
        { id: 1, data: "01/2018" },
        { id: 2, data: "02/2018" },
        { id: 3, data: "03/2018" },
        { id: 4, data: "04/2018" },
        { id: 5, data: "05/2018" },
        { id: 6, data: "06/2018" },
        { id: 7, data: "07/2018" },
        { id: 8, data: "08/2018" },
        { id: 9, data: "09/2018" },
        { id: 10, data: "10/2018" },
        { id: 11, data: "11/2018" },
        { id: 12, data: "12/2018" }
      ]
    };
  },
  methods: {
    async atualizarCampos() {
      this.soma = await this.api.getSomaPeriodo(this.ini.data, this.fim.data);
      this.media = await this.api.getMediaPeriodo(this.ini.data, this.fim.data);
      this.maiorGasto = await this.api.getMaiorGasto(this.ini.data, this.fim.data);
    },
    logout(){
      localStorage.removeItem('authorization');
      this.$router.push( { name: 'login', params: { } } )
    }
  },
  created: async function() {
    new Promise( resolve => {
        const status = this.api.verificarToken()
        .then( async status => {
          if(status!=200)
              this.$router.push( { name: 'login', params: { } } )
          this.ini = this.opcoes[0];
          this.fim = this.opcoes[11];
          this.atualizarCampos();
          this.paginas = await this.api.getGruposPageSize(this.ini.data, this.fim.data) 
          this.user = await this.api.getUser()
        })
      })
  },
  watch: {
    ini: function() {
      this.carregando = true
      this.atualizarCampos();
      setTimeout(() => {
        this.carregando = false
      }, 1250);
    },
    fim: function() {
      this.carregando = true
      this.atualizarCampos();
      setTimeout(() => {
        this.carregando = false
      }, 750);
    }
  }
};
</script>
<style>
.container {
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
  color: white;
}

body {
  background: #310A5B;
}

.search{
  padding-top: 10px
}

.welcome {
  color: #ccc;
  font-size: 1.5rem !important
}

.userImg{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border:2px solid #fff;
  text-decoration:none;
  margin:20px;
  box-sizing:border-box;
  float: left;
  display:block;
  position:absolute;
  left: 15px;
  top: 15px;
}

.statistics {
  color: #ccc;
}
.statistics .box {
  background-color: #400D74;
  padding: 15px;
  overflow: hidden;
}

.graficos {
  margin-top: 20px;
  color: #bbb;
}

.col-md-4 > h5 {
  color: white;
}

.graficos .graficos-container {
  background-color: #400D74;
  padding: 15px;
}
.graficos .graficos-container h3 {
  margin: 0 0 10px;
  font-size: 17px;
}

#conteudo {
  background-color: black;
  border-radius: 10px;
}

.form-pesquisa {
  height: 90px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #400D74;
  background-image: none;
}

.select {
  position: relative;
  display: block;
  width: 10em;
  height: 3em;
  line-height: 3;
  background: #400D74;
  overflow: hidden;
  border-radius: 0.25em;
}
select {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 0 0 0.5em;
  color: #fff;
  cursor: pointer;
}
select::-ms-expand {
  display: none;
}

p:first-child { 
  font-size: 0.9rem;
}

.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0 1em;
  background: #400D74;
  pointer-events: none;
}

.select:hover::after {
  color: #f39c12;
}
.select::after {
  -webkit-transition: 0.25s all ease;
  -o-transition: 0.25s all ease;
  transition: 0.25s all ease;
}

.logout {
  float: right;
  cursor: pointer;
  user-select: none;
  display:block;
  width:30px;
  height:30px;
  position:absolute;
  right:20px;
  top:20px;
  text-decoration:none
}


@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,600,600i');
.header{
  position:relative;
  overflow:hidden;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  height:8vw;
  min-height:140px;
  max-height:550px;
  min-width:300px;
  color:#eee;
  padding-left: 0px !important
}
.header:after{
  content:"";
  width:100%;
  height:40%;
  position:absolute;
  bottom:0;
  left:0;
  z-index:-1;
 background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(27,32,48,1) 100%);
}
.header:before{
  content:"";
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
    transform: translateZ(0);
  background:#1B2030 url(https://wallpapersite.com/images/wallpapers/samsung-galaxy-s9-2560x2560-purple-low-poly-smoke-stock-hd-12539.jpg) top center no-repeat;
  background-size:cover;
  background-attachment:fixed;
  animation: grow 60s  linear 10ms infinite;
  transition:all 0.2s ease-in-out;
  z-index:-2
}
.header a{
  color:#eee
}

.sides, .infoHeader{
  flex: 0 0 auto;
  width:50%
}
.infoHeader{
  width:51%;
  padding:1.5% 10% 0 10%;
  text-align:center;
  color: white;
  background: transparent;
  text-shadow:0 2px 3px rgba(0,0,0,0.2)
}

.content{  
  padding:5% 10%;
}

.btn{
  color:#333;
  border:2px solid;
  border-radius:3px;
  text-decoration:none;
  display:inline-block;
  padding:5px 10px;
  font-weight:600
}

.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to{
  transform: translateX(10px);
  opacity: 0;
}
</style>


