<template>
  <transition name="fade">
	    <div v-if="this.card==true" class="d-flex tela justify-content-center align-items-center">  
        <div id="card">
				  <h3 id="titulo">Fazer Login</h3>
          
          <div class="card-body">
				    <form action="/login" method="POST" @submit.prevent="onSubmit">

              <div class="input-group form-group">
                
                <div class="input-group-prepend">
							    <span class="user-icon"></span>
						    </div>
				        
                <input type="text" v-model="username" class="form-control" aria-describedby="emailHelp" placeholder="username">
                <div class="container alerta">
                  <span v-if="fracasso" role="alert">Senha ou usuário inválido.</span>
                  <span v-else role="alert">Seu usuário é tudo o que vem antes do @ em seu email.</span>
                </div>
              
              </div>
				    
              <div class="input-group form-group">
						    <div class="input-group-prepend">
							    <span class="senha-icon"></span>
						    </div>
						    <input type="password" v-model="password" class="form-control" placeholder="senha">
					    </div>
					    
              <div class="row align-items-center lembrar">
						    <input type="checkbox">Lembrar senha
					    </div>
					    
              <div class="form-group">
						    <input type="submit" value="Login"  class="btn btn-cadlog float-right login_btn">
					    </div>
				    
            </form>
			    </div>
			    
          <div class="card-footer">
				    <div class="d-flex justify-content-center cadastro">
					    <button @click="mandarParaCadastro" class="btn btn-cadlog btn-link btl-link-light">Não sou cadastrado</button>
				    </div>
			    
          </div>
		    
        </div>
      </div>
  </transition>
</template>

<script>
import Api from "../../api/Api.js";
export default {
  name: "Login",
  data: () => {
    return {
      card : false,
      fracasso: false,
      username: '',
      password: '',
      api: new Api("http://localhost:8080/"),
    };
  },
  methods: {

    mandarParaCadastro(){
      this.$router.push( { name: 'cadastro', params: { } } )
    },

    onSubmit() {
      
      var formData = new FormData();
      formData.append('username', this.username);
      formData.append('password', this.password);
      formData.append('grant_type', 'password');
      this.$http.post('http://localhost:8080/oauth/token', formData, {
          headers: {
              'Content-Type':'application/x-www-form-urlencoded',
              'Authorization':'Basic dGVzdGp3dGNsaWVudGlkOlhZN2ttem9OemwxMDA='
          }
      })
      .then((response) => {
              localStorage.setItem('authorization', JSON.stringify(response.body.access_token));
              this.$router.push( { name: 'dashboard', params: { } } )
          }, err => {
              this.fracasso = true
          }
      );
      
    }
  },
  props: {
  },
  created() {
    setTimeout(() => {
      this.card=true
    }, 200);
    new Promise( resolve => {
        const status = this.api.verificarToken()
        .then( status => {
          if(status==200)
            this.$router.push( { name: 'dashboard', params: { } } )
      })
    })
  }
};
</script>

<style scoped>
body {
  background-image: url("../../assets/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Numans", sans-serif;
}

.user-icon{
  background: url("../../assets/icon_user.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.wrong{
  color: red !important;
}

.tela{
  height: 100vh !important;
}

.senha-icon{
  background: url("../../assets/icon_password.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.alerta{
  color: cornsilk;
  font-size: 15px;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

#card {
  width: 30%;
  background-color: rgba(34, 14, 58, 0.7) !important;
}

#titulo {
  margin-top: 10px;
  color: white;
}

.input-group-prepend span {
  width: 50px;
  background-color: #e03c32;
  color: black;
  border: 0;
  margin-right: -3px;
  /*margin-top: 4px;*/
}

input:focus {
  outline: 0 0 0 0 !important;
  box-shadow: 0 0 0 0 !important;
}

.lembrar {
  margin-left: 8px;
  color: white;
}

.lembrar input {
  color: #FFFFFF;
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 5px;
}

.alerta{
  margin: 0 auto;
}

.login_btn {
  color: black;
  background-color: #e03c32;
  width: 100px;
}

.login_btn:hover {
  color: black;
  background-color: coral;
}

.cadastro {
  color: white;
}

.cadastro a {
  margin-left: 4px;
}

.input-group {
  padding-left: 5%;
  padding-right: 5%;
}

.btn-link,
.btn-link:active {
  color: #FCFCFC !important;
}

.btn-link:hover,
.btn-link:visited {
  color: #CED4DA !important;
}

#fracasso-div {
  margin: 5px !important;
  opacity: 0.9 !important;
  background-color: #ffcccc;
  border-color: #ff9999;
  color: #660000;
  /*padding: 3px;*/
}

.btn-cadlog {
  border: 1px !important;
  padding: 7px !important;
  font-weight: normal !important;
}


</style>





